<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap'); body { font-family: 'Red Hat Display' };</style>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>const roomId = "<%= roomId %>"; const userName = "<%= userName %>";</script>
        <title>Simple Chat App</title>
    </head>
    <body>
        <div class="flex flex-col items-center mt-48 space-y-4">
            <div class="text-center text-6xl mb-12">Simple Chat App!</div>
            <div class="text-center text-2xl">Chat</div>
            <div id="messages" class="flex flex-col bg-gray-200 border-2 border-gray-200 shadow rounded-md w-1/4 px-2">
                <div class="flex flex-row space-x-4" id="message-block">
                    <div id="username">[Server]: </div>
                    <div id="message">Example Message Ustam!</div>
                </div>
            </div>

            <div class="pt-8">
                <form class="flex flex-col items-center space-y-4" id="form">
                    <div class="text-xl">Send message</div>
                    <input placeholder="Enter a message" type="text" id="input" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></input>
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Send message!</button>
                </form>
            </div>

            <div class="flex flex-col space-y-4 pt-8">
                <div class="text-2xl">Share this chat with your friends!</div>
                <input type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="sharelink" value="" readonly>
                <button onclick="navigator.clipboard.writeText(document.getElementById('sharelink').value)" class="bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">Copy to clipboard!</button>
                <script>document.getElementById('sharelink').value = `${window.location.protocol}//${window.location.host}/${roomId}`;document.getElementById('')</script>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="index.js"></script>
    </body>
</html>
